[**.js]
indent_style = tab

[**.json]
indent_size = 2
indent_style = space

[**{.js,.json,.yml}]
charset = utf-8
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
indent_size = unset
indent_style = unset
trim_trailing_whitespace = false
